.content-container{
  min-height: 90vh;
}

.page-title{
  display: block !important;
  text-align: center;
  font-size: 0.5rem;
  margin-top: 10px;
}

.form-container{
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.form-container h1{
  text-align: center;
}

.ui.red.button:focus, .ui.red.buttons .button:focus{
  background-color: #db2828;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 1rem;
}